<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Recipe Finder | Recipe</title>
        <link rel="stylesheet" href="/css/homePageStyle.css">
        <link rel="stylesheet" href="/css/recipeDetailStyle.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <% if (successMessage) { %>
            <div id="toastMessage">
                <%= successMessage %>
            </div>
            <script>
                //hide the toast message after 3 seconds
                setTimeout(() => {
                    document.querySelector("#toastMessage").style.display = "none";
                }, 3000);
            </script>
            <% } %>

                <div class="recipe">

                    <h1>
                        <%= meal.recipe_name %>
                    </h1>
                    <div class="inst">
                        <div class="recipeLeft">
                            <img src="<%= meal.image_url %>" class="recipeImg">

    <form action="/updateRecipe" method="GET">
        <input type="hidden" name="id" value="<%= meal.recipe_id %>">
        <button type="submit">Update Recipe</button>
    </form>
</body>

</html>