<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Recipes</title>
</head>
<body>
    <% if(errorMessage!=false) {%>
        <div class="errorMessage">
            <h1> <%= errorMessage %> </h1>
        </div>
    <% } else {%>
        <div>
            <% for( const meal of meals ) { %> 
                <h1> <%= meal.strMeal %> </h1>
                <img style="height: 100px;" src="<%= meal.strMealThumb %>">

                <p>
                    <% if(meal.strInstructions.length>200){ %>
                        <p>
                            <%=meal.strInstructions.slice(0,200)%> ...
                        </p>
                    <% } else {%>
                        <p>
                            <%=meal.strInstructions.slice(0,meal.strInstructions.length)%> ...
                        </p>
                    <% } %>
                </p>
                <button> View Recipe </button>
                <hr>
            <% } %>
        </div>
    <% } %>
</body>
</html>