<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Recipe Finder | Recipe</title>
        <link rel="stylesheet" href="/css/homePageStyle.css">
        <link rel="stylesheet" href="/css/recipeDetailStyle.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <% if (successMessage) { %>
            <div id="toastMessage">
                <%= successMessage %>
            </div>
            <script>
                //hide the toast message after 3 seconds
                setTimeout(() => {
                    document.querySelector("#toastMessage").style.display = "none";
                }, 3000);
            </script>
            <% } %>

                <div class="recipe">

                    <h1>
                        <%= meal.recipe_name %>
                    </h1>
                    <div class="inst">
                        <div class="recipeLeft">
                            <img src="<%= meal.image_url %>" class="recipeImg">

                            <p class="areaBadge">
                                <%= meal.area %>
                            </p>
                        </div>

                        <div class="recipeRight">
                            <h2>Ingredients</h2>
                            <ul>
                                <% for (let ingredient of ingredients) { %>
                                    <li>
                                        <%= ingredient.measure %>
                                            <%= ingredient.name %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                    </div>
                    <h2>Instructions</h2>
                    <p>
                        <%= meal.instructions %>
                    </p>


                </div>
                <%- include("partials/footer.ejs") %>
</body>

</html>