<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head.ejs") %>
        <title>Recipe Finder | Add Recipe</title>
        <link rel="stylesheet" href="/css/homePageStyle.css">
        <link rel="stylesheet" href="/css/addUpdateStyle.css">
</head>

<body>
    <%- include("partials/navbar.ejs") %>

  
 <div class="main">
  <form action="/updateRecipe" method="POST">
    <h1>Update Recipe</h1>
    <input type="hidden" name="recipeId" value="<%= recipe.recipe_id %>">

    <p>
      <label>Recipe Name:</label>
      <input type="text" name="recipeName" value="<%= recipe.recipe_name %>">
    </p>

    <p>
      <label>Instructions:</label>
      <textarea name="instructions" rows="8" cols="60"><%= recipe.instructions %></textarea>
    </p>

    <p>
      <label>Category:</label>
      <input type="text" name="category" value="<%= recipe.category %>">
    </p>

    <p>
      <label>Area:</label>
      <input type="text" name="area" value="<%= recipe.area %>">
    </p>

    <p>
      <label>Image URL:</label>
      <input type="text" name="imageUrl" value="<%= recipe.image_url %>">
    </p>

    <p>
      <label>Source URL:</label>
      <input type="text" name="sourceUrl" value="<%= recipe.source_url %>">
    </p>

    <p>
      <label>YouTube URL:</label>
      <input type="text" name="youtubeUrl" value="<%= recipe.youtube_url %>">
    </p>

    <button type="submit">Update Recipe</button>
  </form>
  </div>
  <hr>

  <div >
  
  <h1 style="text-align: center;">Current Ingredients</h1>

  <% for (let ingredient of recipeIngredients) { %>
    <div class="main">
      <span><%= ingredient.measure %> <%= ingredient.ingredient_name %></span>

      <form action="/removeRecipeIngredient" method="POST" style="display:inline;">
        <input type="hidden" name="recipeId" value="<%= recipe.recipe_id %>">
        <input type="hidden" name="recipeIngredientId" value="<%= ingredient.recipe_ingredient_id %>">
        <button type="submit" class="ingBtns">X</button>
      </form>
    </div>
  <% } %>
</div>
  <hr>

  <div class="main">
  

  <form action="/addRecipeIngredient" method="POST">
    <h1>Add Ingredient</h1>
    <input type="hidden" name="recipeId" value="<%= recipe.recipe_id %>">

    <select name="ingredientId">
      <option value="select">Select ingredient</option>

      <% for (let ingredient of allIngredients) { %>
        <option value="<%= ingredient.ingredient_id %>">
          <%= ingredient.ingredient_name %>
        </option>
      <% } %>
    </select>

    <input type="text" name="measure" placeholder="Measure, ex: 2 cups">

    <button type="submit">Add Ingredient</button>
  </form>
  </div>
<%- include("partials/footer.ejs") %>
  

</body>
</html>